.outer-canvas-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.inner-cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
}

.card-container-header {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(105, 105, 105, 0.4);
  width: fit-content;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  //   display: flex;
  //   flex-direction: row;
  //   overflow-x: auto;
  width: 100%;
  height: fit-content;
}

.options-container {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
}

.card-container-options {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
}
