#card {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 275px;
  padding: 1px;
  text-decoration: none;
}

//TODO: Control how image is displayed here
#preview-image-container {
  display: flex;
  height: 65%;
  border-radius: 8px;
}

//TODO: Figure out why width 100% here instead of object-fit
#preview-image {
  display: flex;
  width: 100%;
}

#content-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  overflow: hidden;
}

.text-container-template {
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

//TODO: Change height later to change text to ...
#content-title-container {
  @extend .text-container-template;
  display: flex;
  width: 100%;
}

//TODO: Do "..." if text exceeds
#content-title-text {
  font-size: 20px;
  overflow: hidden;
}

#content-source-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

#content-metadata-container {
  @extend .text-container-template;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

#content-metadata-text {
  font-size: 15px;
  color: grey;
}

#content-platform-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#platform-icon-container {
  display: flex;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 7px;
}

#platform-icon {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
